*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#111;
    color:white;
}

header{
    background:#1a1a1a;
    padding:20px;
    text-align:center;
    border-bottom:2px solid #e50914;
}

header h1{
    color:#e50914;
}

main{
    padding:30px;
}

.form-container{
    background:#1d1d1d;
    padding:25px;
    border-radius:12px;
    margin-bottom:40px;
}

.form-container h2{
    margin-bottom:20px;
    color:#e50914;
}

.campo{
    margin-bottom:15px;
}

.campo label{
    display:block;
    margin-bottom:5px;
}

.campo input, textarea{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#2a2a2a;
    color:white;
}

select{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#2a2a2a;
    color:white;
}

.btn-adicionar{
    width:100%;
    padding:12px;
    background:#e50914;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.btn-adicionar:hover{
    background:#c40812;
}

.lista-filmes{
    background:#1d1d1d;
    padding:25px;
    border-radius:12px;
}

.lista-filmes h2{
    margin-bottom:20px;
    color:#e50914;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#e50914;
    padding:12px;
}

td{
    padding:12px;
    text-align:center;
    border-bottom:1px solid #333;
}

.editar{
    background:#ffc107;
    color:black;
    border:none;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
    margin-right:5px;
}

.remover{
    background:#dc3545;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
}

.editar:hover{
    opacity:0.9;
}

.remover:hover{
    opacity:0.9;
}

@media(max-width:768px){

    table{
        display:block;
        overflow-x:auto;
    }

    .editar,
    .remover{
        margin-top:5px;
    }
}